  
{% extends "base.html" %}
{% load tags %}
{% block title_head %}
    MovieDatabase
{% endblock %}

{% block content %}
    {%  if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">Sign in</a></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
    {% else %}
        <form method="get" action=".">
            <input type="text" value="Type movie title" name="title">
            {% csrf_token %}
            <input type="submit" value="Search">
        </form>

        <table class="table is-fullwidth is-striped is-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Type</th>
                    <th>imdbID</th>
                    <th>Favorites</th>
                </tr>
            </thead>
    <tbody>
    {% for movie in movie_info %}
        <tr>
            <th>{{ movie.Title}}</th>
            <td>{{ movie.Year }}</td>
            <td>{{ movie.Type}}</td>
            <td>{{ movie.imdbID }}</td>
            {%  if not movie.is_object_exists %}
                <td> <a href="/movie/add/{{movie.imdbID}}" type="button" class="btn btn-success">Add to DB</a></td>
            {%  endif %}
        </tr>
    {% endfor %}

    </tbody>
</table>
         {% if movie_info.has_other_pages %}
  <ul class="pagination">
    {% if movie_info.has_previous %}
      <li><a href="?{% url_replace page=movie_info.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in movie_info.paginator.page_range %}
      {% if movie_info.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?{% url_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if movie_info.has_next %}
      <li><a href="?{% url_replace page=movie_info.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    {% endif %}
{% endblock %}

